/* CSS files add styling rules to your content */

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  padding: 20px 30px 20px 30px;
}

/* Hide the images by default */
.mySlides {
  display: none;
  padding: 20px 30px 20px 30px;
}


/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}







@font-face {
  font-family: Bitter; 
  src: url("https://cdn.glitch.com/dac22bc7-c89a-41a1-9663-47afdbf17116%2FBitter-VariableFont_wght.ttf?v=1611097695022");
       url("https://cdn.glitch.com/dac22bc7-c89a-41a1-9663-47afdbf17116%2FBitter-VariableFont_wght.ttf?v=1611097695022") format(ttf),
}

@font-face {
  font-family: Bitter-Italic; 
  src: url("https://cdn.glitch.com/dac22bc7-c89a-41a1-9663-47afdbf17116%2FBitter-Italic-VariableFont_wght.ttf?v=1611099027621");
       url("https://cdn.glitch.com/dac22bc7-c89a-41a1-9663-47afdbf17116%2FBitter-Italic-VariableFont_wght.ttf?v=1611099027621") format(ttf),
}

@font-face {
  font-family: Bitter-Light; 
  src: url("https://cdn.glitch.com/dac22bc7-c89a-41a1-9663-47afdbf17116%2FBitter-Light.ttf?v=1611113093630");
       url("https://cdn.glitch.com/dac22bc7-c89a-41a1-9663-47afdbf17116%2FBitter-Light.ttf?v=1611113093630") format(ttf),
}

@font-face {
  font-family: Open-Sans; 
  src: url("https://cdn.glitch.com/dac22bc7-c89a-41a1-9663-47afdbf17116%2FOpenSans-Regular.ttf?v=1611097905041");
       url("https://cdn.glitch.com/dac22bc7-c89a-41a1-9663-47afdbf17116%2FOpenSans-Regular.ttf?v=1611097905041") format(ttf),
}

@font-face {
  font-family: Open-Sans-Italic; 
  src: url("https://cdn.glitch.com/dac22bc7-c89a-41a1-9663-47afdbf17116%2FOpenSans-Italic.ttf?v=1611097900865");
       url("https://cdn.glitch.com/dac22bc7-c89a-41a1-9663-47afdbf17116%2FOpenSans-Italic.ttf?v=1611097900865") format(ttf),
}

@font-face {
  font-family: Open-Sans-Light; 
  src: url("https://cdn.glitch.com/dac22bc7-c89a-41a1-9663-47afdbf17116%2FOpenSans-Light.ttf?v=1611111607933");
       url("https://cdn.glitch.com/dac22bc7-c89a-41a1-9663-47afdbf17116%2FOpenSans-Light.ttf?v=1611111607933") format(ttf),
}

@font-face {
  font-family: Montserrat; 
  src: url("https://cdn.glitch.com/dac22bc7-c89a-41a1-9663-47afdbf17116%2FMontserrat.zip?v=1610963257969");
       url("https://cdn.glitch.com/dac22bc7-c89a-41a1-9663-47afdbf17116%2FMontserrat.zip?v=1610963257969") format(ttf),
}

@font-face {
  font-family: Raleway; 
  src: url("https://cdn.glitch.com/dac22bc7-c89a-41a1-9663-47afdbf17116%2FRaleway.zip?v=1610963260990");
       url("https://cdn.glitch.com/dac22bc7-c89a-41a1-9663-47afdbf17116%2FRaleway.zip?v=1610963260990") format(ttf),
}

@font-face {
  font-family: Mr-Dafoe; 
  src: url("https://cdn.glitch.com/dac22bc7-c89a-41a1-9663-47afdbf17116%2FMrDafoe-Regular.ttf?v=1614304924408");
       url("https://cdn.glitch.com/dac22bc7-c89a-41a1-9663-47afdbf17116%2FMrDafoe-Regular.ttf?v=1614304924408") format(ttf),
}

 


* {
  margin: 0;
  padding: 0;
}


body {
  background-image: url("https://cdn.glitch.com/dac22bc7-c89a-41a1-9663-47afdbf17116%2FSin%20Lab%20Bottles%20(6).png?v=1614127609482");
  background-repeat: repeat;
  font-family: Bitter, Bitter-Italic;
  margin: 2em;
  background-color: #FFEADB;
}

h1 {
  font-family: Mr-Dafoe;
  font-size: 75px;
  font-style: normal;
  font-weight: 250;
  letter-spacing: 2px;
  word-spacing: 10px;
  color: #f1aa9b;
  background-color: white;
}

h2 {
  font-size: 24px;
  font-family: Bitter, Bitter-Italic;
  line-height: 150%;
}

h3 {
  font-family: Bitter-Light;
  font-size: 24px;
  font-style: regular;
  color: #18b193;
  padding: 10px;
}

h4 {
  font-size: 31px;
  font-family: Bitter, Bitter-Italic;
  line-height: 150%;
  text-align: center;
}


.header {
  padding: 60px; 
  text-align: center; 
  background: #18b193; 
  color: white; 
}

.headerimage {
  flex: 100%;
  background-color: white;
  padding: 20px 0px 20px 0px;
}

.nav {
  overflow: hidden;
  background-color: white;
}

.nav a {
  float: left;
  color: #18b193;
  text-align: center;
  padding: 14px 32px;
  text-decoration: none;
  font-size: 20px;
}

.nav a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd; 
  color: black; 
}

.nav .icon {
  display: none;
}

.nav a.active {
  background-color: #f1aa9b;
  color: white;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: #18b193;
  padding: 14px 32px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #18b193;
  padding: 14px 32px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a.active {
  background-color: #f1aa9b;
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}







* {
  box-sizing: border-box;
}


.row {
  display: flex;
  flex-wrap: wrap;
}


.side {
  flex: 20%; 
  padding: 20px; 
}


.main {
  flex: 68%; 
  padding: 20px; 
}

.filler {
  flex: 4%;
}

@media screen and (max-width: 800px) {
  .side, .main, .filler {
    width: 100%; 
  }
}

@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
    flex: 100%;
  }
}

@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}


.card {
  background: white;
  padding: 20px 50px 40px 50px;
  text-align: left;
  color: black;
  line-height: 150%;
  font-family: Open-Sans;
  font-size: 16px;
}

.centercard {
  padding: 20px 30px 20px 30px;
  text-align: center;
  background-color: white;
  font-family: Bitter
  color: black;
  line-height: 150%;
  word-spacing: 3px;
}

.about {
  font-family: Open Sans;
  font-size: 18px;
  background: #effaf8;
  padding: 20px 20px;
  text-align: left;
  color: black;
  line-height: 150%;
}

.abouttitle {
  flex: 45%;
  text-align: left;
  padding: 0px 10px 0px 10px;
}

.abouttext {
  flex: 55%;
  text-align: left;
  padding: 20px 30px 0px 30px;
}


.footer {
    padding: 10px 30px 12px 30px; 
  text-align: left; 
  background: #fffbf5;
  font-size: 12px;
}





/* IMAGE THIRDS */

.imagethird {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.imagethird img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 500px) {
  .imagethird {
    width: 100%;
  }
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* IMAGE HALVES */

.imagehalve {
  float: left;
  width: 50%;
  padding: 5px;
}

.imagehalve img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 500px) {
  .imagehalve {
    width: 100%;
  }
}

/* IMAGE FULL */
  
.imagefull {
  float: left;
  width: 100%;
  padding: 5px;
}

.imagefull img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 500px) {
  .imagefull {
    width: 100%;
  }
}
  
/* END OF IMAGES */



/* YOUTUBE */

.youtube {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.youtube {
	padding-bottom:56.25%;
  height:0;
  position:relative;
	padding-top:30px;
	overflow:hidden;
}
.youtube iframe, 
.youtube object, 
.youtube embed {
	position:absolute;
	left:0;
  top:0;
	width:100%;
	height:100%;
}

/* END OF YOUTUBE */




@media screen and (max-width: 600px) {
  .nav a:not(:first-child), .dropdown .dropbtn {display: none;}
  .nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .nav.responsive {position: relative;}
  .nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .nav.responsive .dropdown {float: none;}
  .nav.responsive .dropdown-content {position: relative;}
  .nav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;

}